html {
  box-sizing: border-box;
}

/*ignore color schheme, will probably change */
/*Need permission for photo*/

body {
/*  background: url(../images/cornellPrison.jpg) no-repeat center top; /*photo credit: http://www.rochester.edu/newscenter/rochesters-prison-education-program-aims-to-transform-lives-of-inmates-undergraduates/ */
  /*background-size: cover; */ 
  font-family: 'Open Sans', sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;  
}

.hide {
  display: none;
}

header .box {
  background-color: #2a527b;
  min-height: 75px;
  min-width: 100px;
  position: relative;
  color: #f9e42e;
  font-size: 20px;
  font-weight: 400;
  margin-right: 100px;
  padding-top: 40px;
}

.boxLogo {
  color: white;
  margin-left: 5px;
  position: relative;
  min-height: 75px;
  min-width: 100px;
  font-size: 34px;
  font-weight: 700;
  padding: 20px;
}

.box::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media(min-width: 768px) {
  header {
    background-color: #2a527b;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
  }
}
/*NEED RESPONSIVE DROPDOWN MENU*/
.smallScreen {
  display: none;
}

@media(min-width: 320px) {
  .largeScreen {
    display: none;
  }
}

@media(min-width: 768px) {
  .largeScreen {
    display: flex;
    margin-left: 110px;
  }
}

.headline {
  background-color: grey;
  height: 600px;
}

.container {
  display: flex;
}
#cornellPrison {
  width:700px;
  height: 400px;
  margin-top: 60px;
  margin-left: 80px;
}

.cornellPrisonBlurb {
  width: 450px;
  padding: 20px;
  float: right; /*need to do flexbox for this. */
}

.container .cornellPrisonBox {
  flex-grow: 1;
}

.first {
  font-size: 44px;
  font-weight:900;
  text-align: center;  
  margin-bottom: 0;
}

.secondary {
  font-size: 24px;
  font-weight: 400;
  text-align: center;  
  margin-top: 0;
}

@media(min-width: 320px) {
  .yellowBackground {
    width: 100%;
    background-color: #ffea00;
    min-height: 200px;
  }
}

.pellDescription {
  width: 70%;
  margin: auto;
  padding: 30px 0;
}

.readmore, .readless {
  text-align: right;
  width: 70%;
  margin: auto;
  padding: 20px 0;
  font-weight: 800;
  font-size: 20px;
}

#show-this-on-click {
  width: 70%;
  margin: auto;
}

@media(min-width: 320px) {
  .testimonial {
    width: 100%; 
    display: flex;
    flex-direction: column;
    min-height: 140px;
  }
}

.quote {
  color: black;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
  padding: 15px 30px 2px;
}

.name {
  color: black;
  text-align: right;
  padding-right: 100px;
  font-size: 24px;
  font-weight: 400;
  margin-top: -8px;
}

h1 {
  text-align: center;
}

.takeaction {
  color: white;
  text-align: center;
  font-weight: 900;
  font-size: 28px;
}

.takeActionForm {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
  border: white dashed 4px; 
  padding: 10px;
}

.takeActionForm p {
  text-align: center;
}    

/*form {
  width: 40%;
  margin-right: auto;
  margin-left: auto;
}
*/






/*@media(min-width: 320px) { */
  button {
    background-color: #f9e42e;
    font-size: 16px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    width: 200px;
  }


/*@media(min-width: 768px) {
  button {
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}
*/

@media(min-width: 320px) {
  .darkGreyBackground { /*changename */
    width: 100%;
    background-color: #2a527b;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 220px;
  }
}

#map{
  width: 100%;
  min-height: 400px;
  background-color: darkgray;
}

#map h1{
  margin:0;
}

.social {
  display: inline-flex;
  list-style-type: none;
}

@media(min-width: 320px) {
  .socialMedia {
    width: 50%;
    margin: auto;
  }
  .Facebook {
    margin-left: 15px;
  }  
}

@media(min-width: 375px) {
  .socialMedia {
    width: 45%;
    margin: auto;
  }
  .Facebook {
    margin-left: 20px;    
  }
}

@media(min-width: 414px) {
  .Facebook {
    margin-left: 35px;    
  }
}

@media(min-width: 768px) {
  .socialMedia {
    width: 25%;
    margin: auto; 
  }
}

#top {
  color: white;
  font-size: 20px;
  font-weight: 800;
  margin: 20px 20px 5px;
}

/******THIS IS FOR THE FORM*******/



body {
  font-family: Helvetica, Arial, sans-seif;
}

button,
input[type="text"],
textarea {
  border: 1px solid #ccc;
  font-size: 1em;
}

button {
  padding: 8px 16px;
  text-transform: uppercase; /*what is this?*/
}

form > div {
  margin-bottom: 15px;
  display: flex;
  align-items: baseline;
}

label,
button {
  cursor: pointer;
}


#signUp {
  display: none;
  padding: 10px;
  margin: 10px 0;
}




